.slider{
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
    overflow: hidden;

    .container{
        width: 300vw; // Because there are 3 images.
        height: 100%;
        display: flex;
        transition: all 1s ease;
        // Because of no rules for the img elements, it will overflow if we don't apply these.
        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons{
        width: fit-content;
        display: flex;
        position: absolute;
        left: 47.5vw;
        right: 0;
        bottom: 100px;
        gap: 10px;
        margin: auto;

        .icon{
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}